.header{
text-align: center;
}
.header img{
    width: 10%;
    height: 80px;
}
.header nav{
    background-color: black;
    line-height: 40px;
    text-align: left;

}
nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 5px; 
}

nav a:hover{
    background-color: gray;
}